	:root {
	  --primary: #149ddd;
	  --dark: #111;
	  --light: #fff;
	  --gray: #aaa;
	}

	* {
	  margin: 0;
	  padding: 0;
	  box-sizing: border-box;
	  font-family: DM Sans, sans-serif;
	}
    html {
	  scroll-behavior: smooth;
	}
	
	body {
	  background: #f5f5f5;
	}

	/* ================= MOBILE FIRST ================= */

	/* Top bar */
	.mobile-header {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  padding: 15px 20px;
	  background: var(--dark);
	  color: var(--light);
	}

	/* Hamburger */
	.menu-btn {
	  font-size: 22px;
	  cursor: pointer;
	}

	/* Sidebar */
	.sidebar {
	  position: fixed;
	  top: 0;
	  left: -260px;
	  width: 260px;
	  height: 100vh;
	  background: var(--dark);
	  padding: 30px 20px;
	  transition: 0.4s;
	  z-index: 1000;
	}

	/* Sidebar open on click (mobile) */
	.sidebar.active {
	  left: 0;
	}

	/* Profile */
	.profile {
	  text-align: center;
	  margin-bottom: 30px;
	}

	.profile img {
	  width: 110px;
	  height: 110px;
	  border-radius: 50%;
	  border: 4px solid var(--primary);
	  object-fit: cover;
	}

	.profile h4 {
	  color: var(--light);
	  margin-top: 12px;
	}

	/* Nav */
	.nav-links {
	  list-style: none;
	}

	.nav-links li {
	  margin: 15px 0;
	}

	.nav-links a {
	  text-decoration: none;
	  color: var(--gray);
	  font-size: 16px;
	  display: flex;
	  align-items: center;
	  gap: 12px;
	  padding: 10px 15px;
	  border-radius: 8px;
	  transition: 0.3s;
	}

	.nav-links a i {
	  font-size: 18px;
	}

	.nav-links a:hover,
	.nav-links a.active {
	  background: var(--primary);
	  color: var(--light);
	}

	@media (min-width: 1200px) {

	  /* ❌ HIDE HAMBURGER */
	  .mobile-header {
		display: none;
	  }

	  /* ✅ SHOW SIDEBAR ALWAYS */
	  .sidebar {
		left: 0;
	  }

	  /* MAIN CONTENT SHIFT */
	  .main-content {
		margin-left: 260px;
		padding: 40px;
	  }
	}


	/* ================= MOBILE FIRST ================= */
    .hero {
      min-height: 100vh;
      background:
        linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
        url('img/kartikey.jpeg') center/cover no-repeat;
      display: flex;
      align-items: center;
      padding: 0 20px;
      color: #fff;
    }

    .hero-content {
      max-width: 100%;
    }

    .hero-content h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 12px;
    }

    .hero-content p {
      font-size: 18px;
      font-weight: 400;
    }

    .typing {
      border-right: 3px solid #4dabff;
      padding-right: 5px;
      white-space: nowrap;
      animation: blink 0.7s infinite;
	  text-decoration: underline;
	  text-underline-offset: 5px;
      text-decoration-color: #149ddd;
    }

    @keyframes blink {
      50% { border-color: transparent; }
    }

    /* ================= TABLET ================= */
    @media (min-width: 744px) {
      .hero {
        padding: 0 102px;
      }

      .hero-content h1 {
        font-size: 48px;
      }

      .hero-content p {
        font-size: 22px;
      }
    }
    @media (min-width: 1000px) {
	  .hero {
        padding: 0 40px;
      }
	}
    /* ================= DESKTOP ================= */
    @media (min-width: 1280px) {
      .hero {
        padding: 0 8%;
      }

      .hero-content {
        padding-left: 190px;
      }

      .hero-content h1 {
        font-size: 64px;
      }

      .hero-content p {
        font-size: 26px;
		
      }
    }
	/* ================= ABOUT SECTION ================= */
	.about-section {
	  padding: 60px 20px;
	  background: #fff;
	  color: #222;
	}

	.about-container {
	  max-width: 1100px;
	  margin: auto;
	}

	/* ===== TITLE ===== */
	.section-title h2 {
	  font-size: 32px;
	  font-weight: 700;
	  margin-bottom: 10px;
	}

	.section-title span {
	  display: block;
	  width: 60px;
	  height: 3px;
	  background: #0d6efd;
	  margin-bottom: 20px;
	}

	.about-desc {
	  font-size: 16px;
	  line-height: 1.7;
	  margin-bottom: 40px;
	}

	/* ===== CONTENT ===== */
	.about-content {
	  display: flex;
	  flex-direction: column;
	  gap: 30px;
	}

	/* IMAGE */
	.about-img img {
	  width: 100%;
	  border-radius: 6px;
	}

	/* TEXT */
	.about-text h3 {
	  font-size: 24px;
	  font-weight: 700;
	  margin-bottom: 10px;
	}

	.about-text .italic {
	  font-style: italic;
	  margin-top: 20px;
	  margin-bottom: 20px;
	  color: #555;
	}

	/* INFO LIST */
	.info-list {
	  display: flex;
	  flex-direction: column;
	  margin-bottom: 20px;
	}

	.info-list ul {
	  list-style: none;
	}

	.info-list li {
	  margin-bottom: 12px;
	  font-size: 15px;
	}

	.info-list i {
	  color: var(--primary);
	  font-style: normal;
	  margin-right: 8px;
	  font-size:20px;
	  font-weight: bold;
	}

	.info-list strong {
	  font-weight: 600;
	}

	.bottom-text {
	  font-size: 15px;
	  line-height: 1.7;
	  color: #444;
	}
    @media (min-width: 744px) {
	  .about-section {
		padding: 80px 102px;
	  }
	}  
	@media (min-width: 1000px) {

	  .about-section {
		padding: 80px 40px;
	  }

	  .about-content {
		flex-direction: row;
		align-items: flex-start;
	  }

	  .about-img {
		flex: 0 0 40%;
	  }
	  
      .about-img img {
		height: 400px;
		object-fit: cover;
	  }
	  
	  .about-text {
		flex: 0 0 60%;
		padding-left: 30px;
	  }

	  .info-list {
		flex-direction: row;
		justify-content: space-between;
	  }
	  
	}
    @media (min-width: 1280px) {
	  .about-section {
		padding: 80px 40px;
		margin-left: 250px;
	  }
	}
	@media (min-width: 1500px) {
	  .about-img img {
		height: 470px;
	  }
	}
	@media (min-width: 1700px) {
	  .about-img img {
		height: 500px;
	  }
	}
	/*============SKILL SECTION==============*/
	.skills {
	  background: #f8fbff;
	  padding: 60px 20px;
	  font-family: Arial, sans-serif;
	}
	
	.skills-container {
	  max-width: 1100px;
	  margin: auto;
	}

	/* Title */
	.skills-title h2 {
	  font-size: 32px;
	  font-weight: 700;
	}

	.underline {
	  width: 50px;
	  height: 3px;
	  background: #149ddd;
	  margin: 10px 0 20px;
	}

	.skills-title p {
	  color: #555;
	  font-size: 16px;
	  line-height: 1.6;
	}

	/* Grid */
	.skills-grid {
	  display: grid;
	  grid-template-columns: 1fr;
	  margin-top: 40px;
	}

	/* Skill */
	.skill {
	  margin-bottom: 30px;
	}

	.skill-head {
	  display: flex;
	  justify-content: space-between;
	  font-size: 14px;
	  font-weight: 700;
	  margin-bottom: 8px;
	}

	/* Bar */
	.bar {
	  height: 10px;
	  background: #e4e7ea;
	  overflow: hidden;
	}

	.fill {
	  height: 100%;
	  width: 0;
	  background: #149ddd;
	  transition: width 1.2s ease-in-out;
	}

	/* Desktop */
	@media (min-width: 744px) {
	  .skills {
	   padding: 80px 102px;
	  }
	}
	@media (min-width: 1000px) {
	  .skills {
	   padding: 80px 40px;
	  }
	  .skills-grid {
		grid-template-columns: 1fr 1fr;
		gap: 50px;
	  }
	}
    @media (min-width: 1200px) {
	  .skills {
	   margin-left: 250px;
	  }
	}
	/*==========PROJECT SECTION=============*/
	.projects-section {
	  padding: 60px 20px;
	  background: #fff;
	}

	.projects-container {
	  max-width: 1100px;
	  margin: auto;
	}

	.section-title {
	  font-size: 32px;
	  font-weight: 700;
	}

	.title-line {
	  display: block;
	  width: 60px;
	  height: 3px;
	  background: var(--primary);
	  margin: 12px 0 40px;
	}
	
    .sec-p {
	  color: #555;
	  font-size: 16px;
	  line-height: 1.6;
	}
	/* GRID */
	.projects-grid {
	  display: grid;
	  grid-template-columns: 1fr;
	  gap: 30px;
	  margin-top: 40px;
	}

	/* CARD */
	.project-card {
	  position: relative;
	  overflow: hidden;
	  border-radius: 14px;
	  box-shadow: 0 20px 40px rgba(0,0,0,0.1);
	}

	.project-card img {
	  width: 100%;
	  height: 260px;
	  object-fit: cover;
	  display: block;
	}

	/* OVERLAY */
	.project-overlay {
	  position: absolute;
	  inset: 0;
	  background: linear-gradient(to top, #111, #149ddd);
	  color: #fff;
	  padding: 24px;
	  display: flex;
	  flex-direction: column;
	  justify-content: flex-end;

	  transform: translateY(100%);
	  transition: 0.5s ease;
	}

	.project-card:hover .project-overlay {
	  transform: translateY(0);
	}

	/* CONTENT */
	.project-overlay h3 {
	  font-size: 20px;
	  margin-bottom: 8px;
	}

	.project-overlay p {
	  font-size: 14px;
	  line-height: 1.6;
	  margin-bottom: 14px;
	}

	/* TAGS */
	.project-tags {
	  display: flex;
	  gap: 8px;
	  flex-wrap: wrap;
	  margin-bottom: 16px;
	}

	.project-tags span {
	  font-size: 12px;
	  padding: 4px 10px;
	  border-radius: 20px;
	  background: rgba(255,255,255,0.2);
	}

	/* LINKS */
	.project-links {
	  display: flex;
	  gap: 20px;
	}

	.project-links a {
	  color: #fff;
	  font-weight: 600;
	  text-decoration: none;
	  position: relative;
	}

	.project-links a::after {
	  content: '';
	  width: 0;
	  height: 2px;
	  background: #fff;
	  position: absolute;
	  left: 0;
	  bottom: -4px;
	  transition: 0.3s;
	}

	.project-links a:hover::after {
	  width: 100%;
	}

	/* DESKTOP */
	@media (min-width: 744px) {
	  .projects-section {
	    padding: 80px 102px;
	  }
	  
	  .project-card img {
	    height: 350px;
	  }
	}
	@media (min-width: 1000px) {
	  .projects-section {
	    padding: 80px 40px;
		//margin-left: 250px;
	  }

	  .projects-grid {
		grid-template-columns: repeat(3, 1fr);
	  }

	  .project-card img {
		height: 300px;
	  }
	}
    @media (min-width: 1200px) {
	  .projects-section {
	   margin-left: 250px;
	  }
	}
	/*=======CONTACT SECTION========*/  
	.contact-section {
	  padding: 80px 20px;
	  background: #fff;
	}

	.contact-container {
	  max-width: 1100px;
	  margin: auto;
	}

	.contact-desc {
	  font-size: 15px;
	  color: #555;
	  margin-bottom: 30px;
	}

	/* FORM */
	.contact-form {
	  background: #f9f9f9;
	  padding: 30px;
	  border-radius: 14px;
	  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
	}

	.form-group {
	  margin-bottom: 20px;
	}

	.contact-form input,
	.contact-form textarea {
	  width: 100%;
	  padding: 14px 16px;
	  border: 1px solid #ddd;
	  border-radius: 8px;
	  font-size: 14px;
	  outline: none;
	  transition: 0.3s;
	}

	.contact-form input:focus,
	.contact-form textarea:focus {
	  border-color: var(--primary);
	}

	/* BUTTON */
	.btn-submit {
	  width: 100%;
	  padding: 14px;
	  background: var(--primary);
	  color: #fff;
	  border: none;
	  border-radius: 8px;
	  font-size: 15px;
	  font-weight: 600;
	  cursor: pointer;
	  transition: 0.3s;
	}

	.btn-submit:hover {
	  background: #0d8cc9;
	}

	/* SUCCESS MESSAGE */
	.form-success {
	  display: none;
	  margin-top: 20px;
	  padding: 12px;
	  background: #e6f7ff;
	  color: #0a58ca;
	  border-left: 4px solid var(--primary);
	  border-radius: 6px;
	  font-size: 14px;
	}

	/* INFO */
	.contact-info {
	  margin-top: 30px;
	  font-size: 14px;
	  color: #333;
	}

	.social-links {
	  margin-top: 10px;
	  display: flex;
	  gap: 20px;
	}

	.social-links a {
	  color: var(--primary);
	  font-weight: 600;
	  text-decoration: none;
	}

	/* DESKTOP WITH SIDEBAR */
	@media (min-width: 744px) {
	  .contact-section {
	    padding: 80px 102px;
	  }
	}
	@media (min-width: 1000px) {
	  .contact-section {
	    padding: 80px 40px;
	  }
	}
	@media (min-width: 1200px) {
	  .contact-section {
		margin-left: 250px;
	  }
	}
    /* ================= FOOTER ================= */

	.portfolio-footer {
	  background: #111;
	  color: #fff;
	  padding: 60px 20px 20px;
	  position: relative;
	}

	.footer-container {
	  max-width: 1100px;
	  margin: auto;
	  display: grid;
	  grid-template-columns: 1fr;
	  gap: 40px;
	}

	/* LEFT */
	.footer-left h2 {
	  font-size: 28px;
	  color: #149ddd;
	}

	.footer-left h4 {
	  font-size: 16px;
	  margin: 8px 0 15px;
	  font-weight: 500;
	}

	.footer-left p {
	  font-size: 15px;
	  line-height: 1.7;
	  color: #bbb;
	  max-width: 420px;
	}

	/* RIGHT */
	.footer-right h4 {
	  font-size: 18px;
	  margin-bottom: 15px;
	}

	.footer-links,
	.footer-social {
	  display: flex;
	  flex-wrap: wrap;
	  gap: 15px;
	  margin-bottom: 15px;
	}

	.footer-links a,
	.footer-social a {
	  text-decoration: none;
	  color: #bbb;
	  font-size: 14px;
	  position: relative;
	  transition: 0.3s;
	}

	.footer-links a::after,
	.footer-social a::after {
	  content: "";
	  position: absolute;
	  left: 0;
	  bottom: -4px;
	  width: 0%;
	  height: 2px;
	  background: #149ddd;
	  transition: 0.3s;
	}

	.footer-links a:hover,
	.footer-social a:hover {
	  color: #149ddd;
	}

	.footer-links a:hover::after,
	.footer-social a:hover::after {
	  width: 100%;
	}

	/* BOTTOM */
	.footer-bottom {
	  margin-top: 40px;
	  padding-top: 15px;
	  border-top: 1px solid #222;
	  text-align: center;
	}

	.footer-bottom p {
	  font-size: 13px;
	  color: #777;
	}

	/* ================= RESPONSIVE ================= */
    @media (min-width: 744px) {
	  .portfolio-footer {
	    padding: 60px 102px 20px;
	  }
	}
	@media (min-width: 1000px) {
	  .portfolio-footer {
	    padding: 60px 40px 20px;
	  }
	  .footer-container {
		grid-template-columns: 1.3fr 1fr;
		align-items: start;
	  }
	}
    @media (min-width: 1200px) {
	  .portfolio-footer {
		margin-left: 250px;
	  }
	}